Flask==0.12.2
Flask-Cors==3.0.2
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
PassportEye==1.2.0
Pillow==4.2.1
h5py==2.7.1
matplotlib==2.0.2
numba==0.33.0
numexpr==2.6.2
numpy==1.13.1
numpydoc==0.6.0
pytesseract==0.2.0
requests==2.14.2
seaborn==0.7.1
six==1.10.0
sortedcollections==0.5.3
sortedcontainers==1.5.7
sympy==1.0
Werkzeug==0.12.2
